# CA05 â€“ kNN based Movie Recommender Engine

2. Data Source and Contents

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/ArinB/MSBA-CA-Data/main/CA05/movies_recommendation_data.csv")
df.head()

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0,0

3. Building your own Recommender System

In [3]:
#Create future martix
features = df[['Biography', 'Drama', 'Thriller', 'Comedy', 'Crime', 'Mystery', 'History']]

In [4]:
# Create KNN model
from sklearn.neighbors import NearestNeighbors

In [5]:
# Encode freatures for each column and set the similar movie type by "The Post"
movie_data = {"Movie Name" : "The Post", "IMDB Rating" : 7.2, "Biography" : 1, "Drama" : 1, "Thriller": 0,"Comedy": 0, "Crime":0, "Mystery": 0, "History": 1}
#Create a category dataframe for input
movie_columns = ['IMDB Rating','Biography','Drama','Thriller','Comedy','Crime','Mystery','History']

In [6]:
#Transfer to be a dataframe
movie_data=[movie_data]

In [7]:
#Make data into the dataframe
new_movie=pd.DataFrame(movie_data,columns=movie_columns)
new_movie

   IMDB Rating  Biography  Drama  Thriller  Comedy  Crime  Mystery  History
0          7.2          1      1         0       0      0        0        1

In [8]:
#Extract train data
x_train=df[new_movie.columns].values

In [9]:
#Set the top 5 range and build the K-NN model by 5
k = 5
knn_model = NearestNeighbors(n_neighbors=k)
knn_model.fit(x_train)

NearestNeighbors()

In [10]:
#Create a functuin to find the smilar movie location and give a specific coordinate
def get_similar_movies(movie_data, k):
    distances, indices = knn_model.kneighbors([movie_data], n_neighbors = k)
    return df.iloc[indices[0]]

In [11]:
#Use this function through the model to find similar movies
similar_movies = get_similar_movies(new_movie.iloc[0].values, k)

In [12]:
movie_name = movie_data[0]["Movie Name"]
print(f"The Similart movie: {movie_name}")
print("-"*100)
print("Top 5 recommended Movies:")
print(similar_movies["Movie Name"].to_string(index = False))

The Similart movie: The Post
----------------------------------------------------------------------------------------------------
Top 5 recommended Movies:
12 Years a Slave
   Hacksaw Ridge
  Queen of Katwe
  The Wind Rises
A Beautiful Mind